
<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">Story</h5>
        <p id="typed-text" class="story-telling card-text"></p>
        <button id="read-button" class="btn btn-primary">Read</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-3">
  <div class="card">
    <div class="card-header">Feature</div>
    <div class="card-body">
      <ul class="card-text">
        <li>Expense record CRUD operation.</li>
        <li>Simple expense reports</li>
        <li>Account authentication and authorization.</li>
      </ul>  
    </div>
  </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-header">Backlog</div>
      <div class="card-body">
        <ul class="card-text">
          <li>Google 0Auth support</li>
          <li>Report export support</li>
          <li>OCR support</li>
        </ul>  
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-header">Technology</div>
      <div class="card-body">
        <ul class="card-text">
          <li>Ruby 2.5</li>
          <li>Ruby on rails 5.2</li>
          <li>Devise</li>
          <li>Pundit</li>
          <li>Javascript ES6</li>
          <li>Bootstrap 4</li>
          <li>SASS</li>
          <li>JQuery 3</li>
          <li>Postgres 10</li>
        </ul>  
      </div>
    </div>
  </div>
</div>

<ul id="story-list" hidden>
  <li>I am a receipts keeper.</li>
  <li>Receipts pile up on my desk day by day.</li>
  <li>When they get on my nerve,</li>
  <li>trash bin becomes their new home.</li>
  <li>_</li>
  <li>However, history will repeat itself</li>
  <li>..as long as I am still a keeper.</li>
  <li>_</li>
  <li>Why do I keep them? You may ask.</li>
  <li>I want to keep my spending in check.</li>
  <li>_</li>
  <li>Hence,</li>
  <li>this app is created.</li>
</ul>





