.fc-mt-3 > :first-child {
  margin-top: 1rem!important;
}

i.close {
  float: right;
  line-height: 24px;
  vertical-align: middle;
}

.hr-text {
  line-height: 1em;
  position: relative;
  border: 0;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #ffffff;
  }
}

.po-list {
  list-style-type: unset;
  padding-left: 20px;
  margin-bottom: 0px;
}