<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Tables</a>
  </li>
  <li class="breadcrumb-item active">Expense Detail</li>
</ol>
<%= render 'form', expense: @expense %>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
